* {
    box-sizing: border-box;
}

header,
div,
h1,
main,
form,
label,
input,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    height: 100vh;
    background-color: teal;
}

div {
    width: 49%;
    background-color: teal;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 5px double ivory;
}

header {
    padding: 4%;
}

h1 {
    text-align: center;
    color: ivory;
    border-bottom: 2px ivory solid;
    padding: 0;
    font-size: 3rem;
}

main {
    padding: 4%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

form {
    width: 100%;
    text-align: center;
}

input,
label {
    font-size: 2.5rem;
    margin-bottom: 4%;
}

input {
    width: 100%;
}

label {
    color: ivory;
}

button {
    font-size: 2rem;
}

p {
    padding: 3% 4% 5% 4%;
    font-size: 1.1rem;
    border: 6px double ivory;
    margin: 0% 6%;
    color: ivory;
    margin-top: 5%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
     :root {
        font-size: 12px;
    }
    body {
        flex-direction: column;
        height: 100vh;
    }
    div {
        width: 98%;
    }
    label,
    input,
    p {
        font-size: 24px;
    }
    p {
        margin: 1%;
    }
}
