div > .secondary {
  background: azure;
}

.companyName {
  font-size: 60px;
  margin-left: 6px;
}

.userCard {
  width: 200px;
  height: 310px;
  margin: 0 6px 20px 12px;
  padding: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px 6px 10px 10px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  background: white;
}

.colorStrip {
  position: absolute;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
}

.userName {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  margin: 3px 0 3px;
  color: #040a1e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCntr {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #949db5;
  display: flex;
  flex-direction: column;
  height: 174px;
  overflow: hidden;
}

.infoData {
  display: block;
  overflow: hidden;
}

.tag {
  color: #040a1e;
  font-weight: 700;
}

.button {
  height: 32px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #1c85ff;
  background: white;
  border: 1px solid #badaff;
  position: absolute;
  bottom: 24px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #1c85ff;
}

.button:active {
  background: #f5faff;
  border: 1px solid #1c85ff;
}

.height_94 {
  height: 94px;
}

.block2 {
  border-bottom: 1px dotted #949db5;
  margin-bottom: 4px;
  padding-bottom: 10px;
}

.borderRound {
  border-radius: 50%;
}

.link {
  color: #1c85ff;
  font-weight: 400;
  cursor: pointer;
}
