.selectText {
  position: absolute;
  right: 12px;
  top: 60%;
  height: 42px;
  width: 300px;
  padding: 8px 30px;
  background-color: #45a9cc;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  display: flex;
  color: white;
  border: 1px solid #fff;
  cursor: pointer;
}

.selectText > button {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

div > .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
  padding: 0 4px 0 0;
  background-color: #fff;
}
