.logout {
    background-color: #c2b8c7;
    padding: 2%;
}

.logoutbutton {
    padding: 0.75%;
    font-size: 1rem;
    background-color: #ecece6;
    border: 0;
    float: right;
}

.todohead {
    font-size: 2rem;
}