@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
  font-family: Roboto;
}

.startNavigation {
  background-color: #ff5722;
  border: 1px solid #000000;
  border-radius: 100px;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 16px;
  z-index: 1;
  font-weight: 700;
  padding: 4px 16px;
  color: snow;
  cursor: pointer;
}

.startNavigation2 {
  top: 100px;
  background-color: #ff5722;
  border: 1px solid #000000;
  border-radius: 100px;
  position: absolute;
  right: 6px;
  font-size: 16px;
  z-index: 1;
  font-weight: 700;
  padding: 4px 16px;
  color: snow;
  cursor: pointer;
}

.startFetchingInfo {
  position: absolute;
  right: 150px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 600px;
  width: 500px;
  overflow-x: hidden;
  position: relative;
}

h1 {
  padding: 0;
  margin: 0;
  border: none;
}

.contents {
  position: relative;
  top: 50px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 600px;
  width: 60px;
  background: #333;
}

.sidenav .nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1000;
  left: 0px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sidenav .nav.active {
  left: -6px;
}

.sidenav .nav:hover {
  left: -100px; /* Border width*2 */
}

.sidenav .description,
.sidenav .icon {
  height: 60px;
  line-height: 60px;
  background: #333;
}

.sidenav .nav.active .description,
.sidenav .nav.active .icon {
  background: #ff5722;
}

.sidenav .icon {
  width: 60px; /* Width of navbar */
  text-align: center;
  color: #e9e9e9;
  font-size: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sidenav .description {
  position: relative;
  left: 60px;
  color: #eee;
  min-width: 100px;
  padding-left: 10px;
  height: 100%;
}

.content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 60px; /* Width of navbar */
  height: 100%;
  z-index: 10;
  background: #ddd;
}

.header {
  position: absolute;
  top: 0;
  height: 40px;
  width: 500px;
  background: #333;
}

.name {
  color: #ddd;
  padding: 6px 0 0 12px;
}

.userCard {
  padding: 6px 8px 4px 8px;
  border-radius: 20px;
  background: #f2f6f9;
  background: linear-gradient(
    230deg,
    #f2f6f9 0%,
    #f2f6f9 82%,
    #619ea0 82%,
    #619ea0 100%
  );
  margin: 12px 0 0 12px;
  max-width: 400px;
  box-shadow: 0 2px 6px -2px rgb(23 34 96);
  display: flex;
  position: relative;
}

.userDetails {
  margin-left: 8px;
  width: 86%;
}

.userDetails > h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.userDetails > h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.userDetails > a {
  color: #0e88ff;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.userdetails > a[visited] {
  color: #0e88ff;
}

.userCard > img {
  border-radius: 50%;
}

.fa {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
