.homepage {
  background-color: #12141d;
  min-height: 100vh;
  color: #fff;
}

.homepage > .navigation {
  border-bottom: 2px solid #fff;
  width: 100%;
}

.homepage > .navigation > img {
  box-shadow: 0px 0px 5px #fff;
}

.stepsWrap {
  position: relative;
}

.stepsCount {
  left: 42px;
  position: absolute;
  bottom: 34px;
  width: 400px;
  background: linear-gradient(to right, #2336b6, rgba(31, 38, 103, 0.9));
  padding: 8px;
  text-align: center;
  font-weight: 700;
}

.stepsCaption {
  font-weight: 700;
  text-align: center;
}

.shape-1 {
  position: absolute;
  left: 100px;
  top: 30%;
  right: auto;
  bottom: 55%;
  width: 70px;
}

.shape-2 {
  position: absolute;
  right: 100px;
  top: 45%;
  left: auto;
  bottom: 55%;
  width: 70px;
}

.shape-3 {
  position: absolute;
  right: 50%;
  top: 84%;
  left: auto;
  bottom: 80%;
  width: 70px;
}

.centerText {
  margin: 10% auto 4%;
  width: 85%;
  text-align: center;
  height: 70vh;
}

.homepageHeading {
  font-size: 64px;
  font-weight: bolder;
}

.sub-small-title {
  display: block;
  width: 100%;
  font-size: 24px;
  color: #3ccf91;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.subhead {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

.display-2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.section2 {
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    356deg,
    rgba(2, 0, 36, 0.32816876750700286) 0%,
    rgba(199, 198, 160, 1) 0%,
    rgba(18, 20, 29, 1) 100%
  );
  padding: 80px 40px 40px;
}

.homepageImgWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.marginImg {
  margin: 42px 42px;
}

.subTagLine {
  margin-top: 48px;
  font-weight: 700;
  color: #3ccf91;
}

.blog-header__square {
  position: absolute;
  top: 67%;
  right: 0;
  left: -101px;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #2336b6, rgba(31, 38, 103, 0.9));
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.blog-header__circle {
  position: absolute;
  top: 95px;
  right: -30px;
  width: 500px;
  height: 500px;
  border-radius: 175px;
  background: linear-gradient(to right, rgba(49, 207, 171), #50e3c2);
  mix-blend-mode: multiply;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}

.workFlow {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 36px;
}

.workFlow:hover {
  font-size: 24.2px;
  color: #f2f2f2;
}

.leftArrow {
  height: 24px;
  width: 24px;
}

.downArrow {
  height: 24px;
  width: 24px;
  position: relative;
  top: 176px;
  right: 18%;
}

.rightArrow {
  height: 24px;
  width: 24px;
}
